APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sigap
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=192.168.111.88
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mail.smtp2go.com
MAIL_PORT=587
MAIL_USERNAME=internalsigap
MAIL_PASSWORD=5DtKyVQST31cK4qA
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@suryagroup.app"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ENDPOINT=https://sgp1.vultrobjects.com
AWS_ACCESS_KEY_ID=6BJ450ZRH7PXFDM5G8KJ
AWS_SECRET_ACCESS_KEY=IpHeIXB3idAo8rBStn78IAoPgSvS57HziJi6vMAX
AWS_BUCKET=surya-sigap-v2
AWS_REGION=sgp1
AWS_PATH=https://sgp1.vultrobjects.com/surya-sigap-v2/

VITE_APP_NAME="${APP_NAME}"

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# OnlyOffice Document Server Configuration
ONLYOFFICE_SERVER_URL=https://office.suryagroup.app
ONLYOFFICE_CALLBACK_URL=
ONLYOFFICE_SECRET=

# OnlyOffice Document Server Configuration
ONLYOFFICE_SERVER_URL=https://nextcloud.suryagroup.app/onlyoffice
ONLYOFFICE_CALLBACK_URL=
ONLYOFFICE_SECRET=4e1883b37e57fdddd41193330a6253f15fc38da227a20972
ONLYOFFICE_JWT_ENABLED=true

# User Seeder Configuration
SYSTEM_USER_EMAIL=
SYSTEM_USER_PASSWORD=
SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
